<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>ElasticSearch</short>
  <description>This is the default settings for the Elastic Search product to listen on.</description>
  <port protocol="tcp" port="{{ elastic_port }}"/>
  <port protocol="tcp" port="9300"/>
</service>
