<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Kibana</short>
  <description>This is the default settings for the Kibana product to listen on.</description>
  <port protocol="tcp" port="{{kibana_port}}"/>
</service>
